.dashboard {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.data {
  width: 200px;
  border-radius: 12px;
}

option {
  width: 200px;
}

#favorites {
  background-color: rgb(231, 86, 86);
  color: white;
}

#edit {
  background-color: rgb(47, 166, 202);
  color: white;
  cursor: pointer;
}

.tags {
  background-color: rgb(63, 190, 4);
  width: 50px;
  border-radius: 12px;
  margin-top: 0;
  color: white;
}
