.dashboard {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.data {
  width: 200px;
  border-radius: 12px;
}

option {
  width: 200px;
}

#session {
  gap: 20px;
  flex-direction: row;
}

#favorites {
  background-color: red;
  color: white;
}
